<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>x64</Platform>

    <PublishProtocol>FileSystem</PublishProtocol>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>


	<SelfContained>false</SelfContained>

	<WindowsPackageType>None</WindowsPackageType>
	<WindowsAppSDKSelfContained>false</WindowsAppSDKSelfContained>

	<PublishSingleFile>false</PublishSingleFile>
	  <PublishTrimmed>false</PublishTrimmed>
	  <DebugType>None</DebugType>
	  <DebugSymbols>false</DebugSymbols>
	  <CopyDebugSymbolFilesFromPackages>false</CopyDebugSymbolFilesFromPackages>
	  <CopyDocumentationFilesFromPackages>false</CopyDocumentationFilesFromPackages>
	<PublishDir>$(SolutionDir)Build\Installer\AppFiles\</PublishDir>


	  <DefineConstants>$(DefineConstants);INSTALLER</DefineConstants>
	  <IncludeSymbols>false</IncludeSymbols>
  </PropertyGroup>

</Project>