<Project>
  <PropertyGroup>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>

    <WindowsPackageType>None</WindowsPackageType>
    <WindowsAppSDKSelfContained>true</WindowsAppSDKSelfContained>
		<PublishTrimmed>true</PublishTrimmed>
	  <PublishDir>$(SolutionDir)Build\Portable\</PublishDir>
	  <DefineConstants>$(DefineConstants);PORTABLE</DefineConstants>
  </PropertyGroup>
</Project>